# Ignore all files in the .ipynb_checkpoints directory
.ipynb_checkpoints/**

# Ignore all files in the .DS_Store directory
.DS_Store/**

# Ignore all files in the agent-env directory
./04-knowledge-base-agents/agent/streamlit/agent-env/**
./04-knowledge-base-agents/agent/streamlit/agent-env






